.class {
  width: 50%;
  color: #d5d1d1;
  background-color: #ffffff;
}
.content {
  height: 800px;
  display: flex;
}
.left-layout {
  height: 100%;
  float: left;
  padding-left: 25px;
}
.right-layout {
  height: 100%;
  float: right;
}
.user-login {
  height: 5%;
  padding-left: inherit;
}
.left-navigation {
  height: 55%;
}
.action-1 {
  height: 35%;
}
.action-2 {
  height: 5%;
}
.header {
  height: 10%;
}
.action-button {
  height: 5%;
}
.listing-information-area {
  height: 85%;
}
.listing {
  height: 100%;
}
.information-area {
  height: 100%;
}
.modal-dialog {
  background-color: #ffffff;
  border-radius: 10px;
}