.class {
  width: 50%;
  color: #d5d1d1;
  background-color: #ffffff;
}
.content {
  height: 800px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}
.left-layout {
  height: 100%;
  float: left;
}
.right-layout {
  height: 100%;
  float: right;
}
.user-login {
  height: 10%;
  padding-left: 1em;
}
.user-login .fa-user-circle {
  padding-top: 15px;
}
.left-navigation {
  height: 55%;
}
.action-1 {
  height: 30%;
}
.action-2 {
  height: 5%;
}
.header {
  height: 10%;
  padding-left: 15px;
}
.action-button {
  height: 10%;
  padding-top: 20px;
  padding-left: 15px;
}
.listing-information-area {
  height: 80%;
}
.listing {
  height: 100%;
}
.listing .mx-auto {
  padding-left: 10px;
  padding-right: 10px;
}
.listing .checkbox input {
  height: 20px;
  width: 20px;
}
.information-area {
  height: 100%;
}
.modal-dialog {
  background-color: #ffffff;
  border-radius: 10px;
}