<button class="btn btn-dark font-weight-bold dropdown-toggle" type="button" id="dropdownAdd" data-toggle="dropdown">
    Add
</button>
<div class="dropdown-menu" aria-labelledby="dropdownAdd">
    <a class="dropdown-item" data-toggle="modal" data-target="#addFolder">Folder</a>
    <a class="dropdown-item" data-toggle="modal" data-target="#addDocument">Documents</a>
</div>
<div class="modal" id="addDocument">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" ng-controller="DocumentController">

            <div class="modal-header">
                <h5>Upload documents</h5>
            </div>

            <div class="modal-body">
                <div class="custom-file mb-3">
                    <input type="file" multiple class="custom-file-input" id="addFile" ng-model="addFile" required />
                    <label class="custom-file-label" for="addFile">Select file(s) to upload</label>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Size</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in filesList">
                            <td>{{file.documentName}}</td>
                            <td>{{file.documentSize}}</td>
                            <td ng-switch="file.statusUpload">
                                <div ng-switch-when="-1"><i class="fas fa-spinner"></i></div>
                                <div ng-switch-when="0"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <div ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i></div>
                            </td>
                            <td ng-click="deleteDocumentInDialog(file.id)"><i class="fas fa-times"></i></td>

                        </tr>
                    </tbody>
                </table>

                <div class="input-group mb-3">
                    Document types
                    <input type="text" class="form-control" placeholder="Term of Reference" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Select</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" />
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="uploadFiles()">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>