<button class="btn btn-dark font-weight-bold dropdown-toggle" type="button" id="dropdownAdd" data-toggle="dropdown">
    Add
</button>
<div class="dropdown-menu" aria-labelledby="dropdownAdd">
    <a class="dropdown-item" data-toggle="modal" data-target="#addDocument">Documents</a>
</div>
<div class="modal" id="addDocument">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Upload documents</h5>
            </div>

            <div class="modal-body">
                <div class="custom-file mb-3">
                    <input type="file" multiple class="custom-file-input" id="addFile" required  onchange="angular.element(this).scope().changeFiles(this)" />
                    <label class="custom-file-label" for="addFile">Select file(s) to upload</label>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="documentName">File Name</th>
                            <th scope="col" class="documentSize">Size</th>
                            <th scope="col" class="documentStatus"></th>
                            <th scope="col" class="documentDeleteIcon"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in filesList">
                            <td class="documentName">{{file.documentName}}</td>
                            <td class="documentSize">{{file.documentSize}}</td>
                            <td ng-switch="file.statusUpload" class="documentStatus">
                                <div ng-switch-when="-1"><i class="fas fa-spinner"></i></div>
                                <div ng-switch-when="0"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <div ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i></div>
                            </td>
                            <td ng-click="deleteDocumentInDialog(file.id)" class="documentDeleteIcon"><i class="fas fa-times"></i></td>

                        </tr>
                    </tbody>
                </table>
                <table id="tableTypeTag">
                    <thead>
                        <tr>
                            <th>Document types</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="typesSelect" class="form-control" multiple ng-model="typesSelect" 
                                        ng-options="type as type.type for type in documentTypes track by type.id">
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="uploadFiles()">Upload</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>