<div id="accordion">
    <div ng-repeat="document in documentsTree">
        <div id="{{document.id}}">
            <ul>
                <li class="list-inline-item"><i class="fas fa-hdd fa-lg"></i></li>
                <li class="list-inline-item">
                    <a class="collapsed text-dark" role="button" data-toggle="collapse" href="#collapse-{{document.id}}" aria-expanded="false" aria-controls="collapse-3" ng-click="getChildDocumentIntoListing(document.id)">{{document.documentName}}</a>
                </li>
            </ul>
        </div>
        <div id="collapse-{{document.id}}" class="collapse" data-parent="#accordion" aria-labelledby="{{document.id}}">
            <div class="card-body">
                <div id="accordion-1">
                    <div ng-repeat="child in document.childrens" id="{{child.id}}">
                        <div>
                            <ul>
                                <li class="list-inline-item"><i class="fas fa-folder fa-lg"></i></li>
                                <li class="list-inline-item">
                                    <a class="collapsed mb-0 text-dark" role="button" data-toggle="collapse" href="#collapse-{{child.id}}" aria-expanded="false" aria-controls="{{child.id}}" ng-click="getChildDocumentIntoListing(child.id)">{{child.documentName}}</a>
                                </li>
                            </ul>
                        </div>
                        <div id="collapse-{{child.id}}" class="collapse" data-parent="#accordion-1" aria-labelledby="{{child.id}}">
                            <div class="card-body">
                                <div id="accordion-1-1">
                                    <div ng-repeat="childchild in child.childrens">
                                        <div id="{{childchild.id}}">
                                            <ul>
                                                <li class="list-inline-item"><i class="fas fa-folder fa-lg"></i></li>
                                                <li class="list-inline-item">
                                                    <a class="collapsed text-dark" role="button" data-toggle="collapse" href="#collapse-{{childchild.id}}" aria-expanded="false" aria-controls="{{childchild.id}}" ng-click="getChildDocumentIntoListing(childchild.id)">{{childchild.documentName}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="collapse-{{childchild.id}}" class="collapse" data-parent="#accordion-1-1" aria-labelledby="{{childchild.id}}">
                                            <div class="card-body padding-1-1-1">
                                                <div id="accordion-1-1-1">
                                                    <div ng-repeat="childlevel3 in childchild.childrens">
                                                        <div id="{{childlevel3.id}}">
                                                            <ul>
                                                                <li class="list-inline-item"><i class="fas fa-folder fa-lg"></i></li>
                                                                <li class="list-inline-item">
                                                                    <a class="collapsed text-dark" role="button" data-toggle="collapse" href="#collapse-{{childlevel3.id}}" aria-expanded="false" aria-controls="{{childlevel3.id}}" ng-click="getChildDocumentIntoListing(childlevel3.id)">{{childlevel3.documentName}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>