<table class="table table-hover" id="listingTable">
    <thead class="thead-dark">
        <tr>
            <th class="checkbox" scope="col"><input type="checkbox" ng-model="leader" /></th>
            <th scope="col" ng-click="sort('documentType')">
                <span ng-show="propertyName === 'documentType'" ng-class="{reverse: reverse}"></span>
                <div class="sortorder" >
                    <div ng-if="reverse === true && propertyName === 'documentType'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'documentType'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>

            <th scope="col" ng-click="sort('documentName')">
                <span ng-show="propertyName === 'documentName'" ng-class="{reverse: reverse}"></span>
                <div class="headerdocument">Title</div>
                <div class="sortorder">
                    <div ng-if="reverse === true && propertyName === 'documentName'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'documentName'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>

            <th scope="col"></th>
            <th scope="col">Document Type</th>

            <th scope="col" ng-click="sort('created')">
                <span ng-show="propertyName === 'created'" ng-class="{reverse: reverse}"></span>
                <div class="headerdocument">Created</div>
                <div class="sortorder">
                    <div ng-if="reverse === true && propertyName === 'created'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'created'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>

            <th scope="col" ng-click="sort('createBy')">
                <span ng-show="propertyName === 'createBy'" ng-class="{reverse: reverse}"></span>
                <div class="headerdocument">Created By</div>
                <div class="sortorder">
                    <div ng-if="reverse === true && propertyName === 'createBy'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'createBy'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>

            <th scope="col" ng-click="sort('lastModified')">
                <span ng-show="propertyName === 'lastModified'" ng-class="{reverse: reverse}"></span>
                <div class="headerdocument">Last Modified</div>
                <div class="sortorder">
                    <div ng-if="reverse === true && propertyName === 'lastModified'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'lastModified'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>

            <th scope="col" ng-click="sort('lastModifiedBy')">
                <span ng-show="propertyName === 'lastModifiedBy'" ng-class="{reverse: reverse}"></span>
                <div class="headerdocument">Last Modified By</div>
                <div class="sortorder">
                    <div ng-if="reverse === true && propertyName === 'lastModifiedBy'"><i class="fas fa-sort-down"></i></div>
                    <div ng-if="reverse === false && propertyName === 'lastModifiedBy'"><i class="fas fa-sort-up"></i></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="document in documents">
        <tr ng-switch="document.documentType" ng-click="getDocumentsByTreeView(document.id)" ng-dblclick="getChildDocumentOfFolder(document)">
            <td class="checkbox"><input type="checkbox" ng-checked="leader" /></td>
            <td ng-switch-when="jpg"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="png"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="jpeg"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="bmp"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="gif"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="docx"><i class="fas fa-file-word fa-lg"></i></td>
            <td ng-switch-when="doc"><i class="fas fa-file-word fa-lg"></i></td>
            <td ng-switch-when="xls"><i class="fas fa-file-excel fa-lg"></i></td>
            <td ng-switch-when="xlsx"><i class="fas fa-file-excel fa-lg"></i></td>
            <td ng-switch-when="ppt"><i class="fas fa-file-powerpoint fa-lg"></i></td>
            <td ng-switch-when="pptx"><i class="fas fa-file-powerpoint fa-lg"></i></td>
            <td ng-switch-when="pdf"><i class="fas fa-file-pdf fa-lg"></i></td>
            <td ng-switch-when="txt"><i class="fas fa-file-alt fa-lg"></i></td>
            <td ng-switch-when="rtf"><i class="fas fa-file-alt fa-lg"></i></td>
            <td ng-switch-when="css"><i class="fas fa-file-code fa-lg"></i></td>
            <td ng-switch-when="folder"><i class="fas fa-folder fa-lg"></i></td>
            <td><a href="">{{document.documentName}}</a></td>
            <td>
                <div class="dropdown hideInListing">
                    <button class="btn btn-circle" id="dropdownMoreAction" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-v fa-lg"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMoreAction">
                        <a href="" class="dropdown-item" ng-click="editDocument(document.id)">
                            <ul>
                                <li class="list-inline-item"><i class="fas fa-pencil-alt"></i></li>
                                <li class="list-inline-item">Edit</li>
                            </ul>
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="badge badge-dark" ng-repeat="type in document.documentTypes">{{type.type}}</span>
                </div>
            </td>
            <td>{{document.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a href="">{{document.createdBy.username}}</a></td>
            <td>{{document.lastModified | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a href="">{{document.lastModifiedBy.username}}</a></td>
        </tr>
    </tbody>
</table>

<button class="paging" ng-disabled="currentPage == 0" ng-click="getChildDocument(id,currentPage=currentPage-1,propertyName)">
    Previous
</button>

{{currentPage+1}}/{{numberOfPages()}}

<button class="paging" ng-disabled="currentPage >= documentsLength/pageSize - 1" ng-click="getChildDocument(id,currentPage=currentPage+1,propertyName)">
    Next
</button>
