<div class="card-body" ng-repeat="document in documentsTree">
    <div id="accordion-{{document.id}}">
        <!--node-->
        <div id="{{document.id}}">
            <ul>
                <li class="list-inline-item"><i class="fas fa-hdd fa-lg"></i></li>
                <li class="list-inline-item">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{document.id}}" aria-expanded="false" aria-controls="collapse-{{document.id}}" ng-click="getChildDocumentIntoListing(document.id); toggleButton(document)">
                        {{document.documentName}}
                    </button>
                </li>
            </ul>
        </div>
        <div id="collapse-{{document.id}}" class="collapse" data-parent="#accordion-{{document.id}}" aria-labelledby="{{document.id}}">
            <!--nodeChild-->
            <div class="card-body" ng-repeat="child in document.childrens">
                <div id="accordion-{{child.id}}">
                    <div id="{{child.id}}">
                        <div>
                            <ul>
                                <li id="treeIcon-{{child.id}}" class="list-inline-item"><i ng-class="{'fas fa-folder-open fa-lg' : child.isExpanded, 'fas fa-folder fa-lg' : !child.isExpanded}"></i></li>
                                <li class="list-inline-item">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{child.id}}" aria-expanded="false" aria-controls="collapse-{{child.id}}" ng-click="getChildDocumentIntoListing(child.id); toggleButton(child)">
                                        {{child.documentName}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="collapse-{{child.id}}" class="collapse" data-parent="#accordion-{{child.id}}" aria-labelledby="{{child.id}}">
                            <!--nodeChild-->
                            <div class="card-body" ng-repeat="childchild in child.childrens">
                                <div id="accordion-{{childchild.id}}">
                                    <div>
                                        <div id="{{childchild.id}}">
                                            <ul>
                                                <li id="treeIcon-{{childchild.id}}" class="list-inline-item"><i ng-class="{'fas fa-folder-open fa-lg' : childchild.isExpanded, 'fas fa-folder fa-lg' : !childchild.isExpanded}"></i></li>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{childchild.id}}" aria-expanded="false" aria-controls="collapse-{{childchild.id}}" ng-click="getChildDocumentIntoListing(childchild.id); toggleButton(childchild)">
                                                        {{childchild.documentName}}
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="collapse-{{childchild.id}}" class="collapse" data-parent="#accordion-{{childchild.id}}" aria-labelledby="{{childchild.id}}">
                                            <!--nodeChild-->
                                            <div class="card-body" ng-repeat="childlevel3 in childchild.childrens">
                                                <div id="accordion-{{childlevel3.id}}">
                                                    <div>
                                                        <div id="{{childlevel3.id}}">
                                                            <ul>
                                                                <li id="treeIcon-{{childlevel3.id}}" class="list-inline-item"><i ng-class="{'fas fa-folder-open fa-lg' : childlevel3.isExpanded, 'fas fa-folder fa-lg' : !childlevel3.isExpanded}"></i></li>
                                                                <li class="list-inline-item">
                                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{childlevel3.id}}" aria-expanded="false" aria-controls="collapse-{{childlevel3.id}}" ng-click="getChildDocumentIntoListing(childlevel3.id); toggleButton(childlevel3)">
                                                                        {{childlevel3.documentName}}
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div id="collapse-{{childlevel3.id}}" class="collapse" data-parent="#accordion-{{childlevel3.id}}" aria-labelledby="{{childlevel3.id}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

