<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="checkbox" scope="col"><input type="checkbox" ng-model="leader" /></th>
            <th scope="col"></th>
            <th scope="col" ng-click="sort('documentName')">Title
                <span class="sortorder" ng-show="propertyName === 'documentName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th scope="col"></th>
            <th scope="col">Document Type</th>
            <th scope="col" ng-click="sort('created')">Created
                <span class="sortorder" ng-show="propertyName === 'created'" ng-class="{reverse: reverse}"></span>
            </th>
            <th scope="col" ng-click="sort('createdBy')">Created By
                <span class="sortorder" ng-show="propertyName === 'createdBy'" ng-class="{reverse: reverse}"></span>
            </th>
            <th scope="col" ng-click="sort('lastModified')">Last Modified
                <span class="sortorder" ng-show="propertyName === 'lastModified'" ng-class="{reverse: reverse}"></span>
            </th>
            <th scope="col" ng-click="sort('lastModifiedBy')">Last Modified By
                <span class="sortorder" ng-show="propertyName === 'lastModifiedBy'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="document in documents | orderBy:propertyName:reverse">
        <tr ng-switch="document.documentType">
            <td class="checkbox"><input type="checkbox" ng-checked="leader" /></td>
            <td ng-switch-when="jpg"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="png"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="jpeg"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="bmp"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="gif"><i class="fas fa-file-image fa-lg"></i></td>
            <td ng-switch-when="docx"><i class="fas fa-file-word fa-lg"></i></td>
            <td ng-switch-when="doc"><i class="fas fa-file-word fa-lg"></i></td>
            <td ng-switch-when="xls"><i class="fas fa-file-excel fa-lg"></i></td>
            <td ng-switch-when="xlsx"><i class="fas fa-file-excel fa-lg"></i></td>
            <td ng-switch-when="ppt"><i class="fas fa-file-powerpoint fa-lg"></i></td>
            <td ng-switch-when="pptx"><i class="fas fa-file-powerpoint fa-lg"></i></td>
            <td ng-switch-when="pdf"><i class="fas fa-file-pdf fa-lg"></i></td>
            <td ng-switch-when="txt"><i class="fas fa-file-alt fa-lg"></i></td>
            <td ng-switch-when="rtf"><i class="fas fa-file-alt fa-lg"></i></td>
            <td ng-switch-when="css"><i class="fas fa-file-code fa-lg"></i></td>
            <td ng-switch-when="folder"><i class="fas fa-folder fa-lg"></i></td>
            <td ng-if="document.documentType !== 'folder'" ng-click="getInfoOfDocument(document.id)"><a href="">{{document.documentName}}</a></td>
            <td ng-if="document.documentType === 'folder'" ng-click="getChildDocumentOfFolder(document.id)"><a href="">{{document.documentName}}</a></td>
            <td>
                <div class="dropdown">
                    <button class="btn-light" type="button" id="dropdownMoreAction" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMoreAction">
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#edit" ng-click="editDocument(document.id)">Edit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#action1">Action 1</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#action2">Action 2</a>
                    </div>
                    <edit-document document-types="documentTypes"></edit-document>
                </div>
            </td>
            <td>
                <div>
                    <span class="badge badge-dark" ng-repeat="type in document.documentTypes">{{type.type}}</span>
                </div>
            </td>
            <td>{{document.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a href="">{{document.createdBy.username}}</a></td>
            <td>{{document.lastModified | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a href="">{{document.lastModifiedBy.username}}</a></td>
        </tr>
    </tbody>
</table>
