<div class="modal" id="edit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Edit Document</h5>
            </div>

            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th>Document types</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Last Modified By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{document.documentName}}</td>
                            <td>
                                <select class="form-control" multiple ng-model="document.documentTypes"
                                        ng-options="type as type.type for type in documentTypes track by type.id"></select>
                            </td>
                            <td>{{document.createdBy.username}}</td>
                            <td>{{document.lastModifiedBy.username}}</td>
                        </tr>
                    </tbody>
                </table>

                <form>
                    <div class="form-group">
                        <label for="documentName">Document Name</label>
                        <input type="text" class="form-control" id="documentName" placeholder="{{document.documentName}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="documentTypes">Document Types</label>
                        <select class="form-control" multiple ng-model="document.documentTypes" 
                                ng-options="type as type.type for type in documentTypes track by type.id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="createdBy">Created By</label>
                        <input type="text" class="form-control" id="createdBy" placeholder="{{document.createdBy.username}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastModifiedBy">Last Modified By</label>
                        <input type="text" class="form-control" id="lastModifiedBy" placeholder="{{document.lastModifiedBy.username}}" readonly>
                    </div>
                </form>     
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveDocument()">Save</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>