<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="" class="nav-link active text-dark" data-toggle="tab" data-target="#info">Info</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark" data-toggle="tab" data-target="#versions">Versions</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark" data-toggle="tab" data-target="#history">History</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="info" class="container tab-pane active" ng-show="isVisible">
            <br>
            <h6>Name</h6>
            <p>{{document.documentName}}</p>
            <br>
            <h6>Document Type</h6>
            <div>
                <span class="badge badge-dark" ng-repeat="type in document.documentTypes">{{type.type}}</span>
            </div>
            <br>
            <h6>File Type {{document.documentType}}</h6>
            <h6>File Size {{document.documentSize}} Bytes</h6>
            <br>
            <em><h7>Created by <u><a href="">{{document.createdBy.username}}</a></u> at {{document.created | date:'yyyy-MM-dd HH:mm:ss'}}</h7></em>
            <br>
            <em><h7>Last modified by <u><a href="">{{document.lastModifiedBy.username}}</a></u> at {{document.lastModified | date:'yyyy-MM-dd HH:mm:ss'}}</h7></em>
        </div>
        <div id="versions" class="container tab-pane fade"></div>
        <div id="history" class="container tab-pane fade">
            <div ng-repeat="msg in messages">
                <div ng-bind-html="msg"></div>
                <br>
            </div>
        </div>
    </div>
</div>