<table class="table">
    <tr>
        <th scope="col"><input type="checkbox" ng-model="leader" /></th>
        <th scope="col">Title</th>
        <th scope="col">Tags</th>
        <th scope="col">Created</th>
        <th scope="col">Created By</th>
        <th scope="col">Last Modified</th>
        <th scope="col">Last Modified By</th>
    </tr>
    <tbody ng-repeat="document in documents">
        <tr>
            <td><input type="checkbox" ng-checked="leader" /></td>
            <td ng-if="document.documentType !== 'folder'" ng-click="getInfoOfDocument(document.id)">{{document.documentName}}.{{document.documentType}}</td>
            <td ng-if="document.documentType === 'folder'" ng-click="getChildDocumentOfFolder(document.id)">{{document.documentName}}</td>
            <td ng-if="document.tags.length === 0"></td>
            <td ng-if="document.tags.length !== 0">
                <div>
                    <ul ng-repeat="tag in document.tags" class="list-inline">
                        <li class="list-inline-item border border-dark rounded-sm mx-auto text-center">{{tag.tagName}}</li>
                    </ul>
                </div>
            </td>
            <td>{{document.created}}</td>
            <td>{{document.createdBy.username}}</td>
            <td>{{document.lastModified}}</td>
            <td>{{document.lastModifiedBy.username}}</td>
        </tr>
    </tbody>
</table>