@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Document Management System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/Contents")
    @Styles.Render("~/Content/css")
</head>
<body ng-app="rootApp" >
    <div class="row border border-dark content">
        <div class="col-sm-3 left-layout">
            <div class="row align-items-center border border-primary user-login" >
                <user-login></user-login>
            </div>
            <div class="row border border-secondary left-navigation">
                
            </div>
            <div class="row border border-success action-1"></div>
            <div class="row border border-danger action-2"></div>
        </div>
        <div class="col-sm-9 border border-warning right-layout">
            <div class="row border border-info header"></div>
            <div class="row border border-success action-button">
                <add-document></add-document>
            </div>
            <div class="row border border-warning listing-information-area">
                <div class="col-sm-9 border border-primary listing" ng-controller="TableController">
                    <table class="table">
                        <tr>
                            <th scope="col"><input type="checkbox" ng-model="leader"/></th>
                            <th scope="col">Title</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Created</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Last Modified</th>
                            <th scope="col">Last Modified By</th>
                        </tr>
                        <tbody ng-repeat="document in documents">
                            <tr>
                                <td><input type="checkbox" ng-checked="leader"/></td>
                                <td ng-if="document.documentType !== 'folder'">{{document.documentName}}.{{document.documentType}}</td>
                                <td ng-if="document.documentType === 'folder'">{{document.documentName}}</td>
                                <td ng-if="document.tags.length === 0"></td>
                                <td ng-if="document.tags.length !== 0">
                                    <div>
                                        <ul ng-repeat="tag in document.tags" class="list-inline">
                                            <li class="list-inline-item border border-dark rounded-sm mx-auto text-center" style="width:150px">{{tag.tagName}}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>{{document.created}}</td>
                                <td>{{document.createdBy.username}}</td>
                                <td>{{document.lastModified}}</td>
                                <td>{{document.lastModifiedBy.username}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3 border border-dark information-area"></div>
            </div>
        </div>
    </div>
</body>
</html>