@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Document Management System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/Contents")
    @Styles.Render("~/Content/css")
</head>
<body ng-app="rootApp" >
    <div class="row border border-dark content">
        <div class="col-sm-3 left-layout">
            <div class="row align-items-center border border-primary user-login" >
                <user-login></user-login>
            </div>
            <div class="row border border-secondary left-navigation" ng-controller="TreeViewController">
                @*<div id="accordion">
            <div class="card" ng-repeat="document in documents">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#{{document.id}}">
                        {{document.documentName}}
                    </a>
                </div>
                <div id="{{document.id}}" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Collapse Item
                    </div>
                </div>
            </div>
        </div>*@
                <div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                    Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-success action-1"></div>
            <div class="row border border-danger action-2"></div>
        </div>
        <div class="col-sm-9 border border-warning right-layout">
            <div class="row border border-info header"></div>
            <div class="row border border-success action-button">
                <add-document></add-document>
            </div>
            <div class="row border border-warning listing-information-area">
                <div class="col-sm-9 border border-primary listing" ng-controller="DocumentsListingController">
                    <documents-listing documents="documents" action-file="getInfoOfDocument" action-folder="getChildDocumentOfFolder"></documents-listing>
                </div>
                <div class="col-sm-3 border border-dark information-area" ng-controller="InformationController">
                    <information-document-tag info="document"></information-document-tag>
                </div>
            </div>
        </div>
    </div>
</body>
</html>